@CHARSET "ISO-8859-1";

body{
	
	background: #F3D8A5;
	margin:0px;
}

.borderImg{
	
 	border: 60px solid transparent;
    -webkit-border-image: url(background.jpg) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(background.jpg) 30 round; /* Opera 11-12.1 */
    border-image: url(background.jpg) 30 round;

	 width: 1220px;
	 height: 500px;
	 margin:0em auto 1em;
	 padding:10px;


}


.logout{
	
	right: 5px;
	position: absolute;
	right: 70px;
	
}

.welcome{
	
	
	position:fixed;
	right: 38%;
	font-family: serif;
	font-size: xx-large;
	font-stretch: expanded;
	color: #F1450C;
	
}

.login_title{
	
	font-family: serif;
	font-size: xx-large;
	font-stretch: expanded;
	color: #7B68EE;
}

.register_title{
	
	font-family: serif;
	font-size: xx-large;
	font-stretch: expanded;
	color: #7B68EE;
	
}


.logged_user{
	
	position: fixed;
	top:10px;
	left: 10px;
    font-size: large;
	font-style: italic;
	font-family: sans-serif;
	font-stretch: wider;
	color: #90EE90;
	
}

.add_friends_box{
	
	cursor: pointer;
	background:	#FFFFFF;
	width:250px;
	height: 150px;
	position: fixed;
	bottom: 29px;
	right: 10px;
	border: 1px solid;
}


.msg_box{
	
	cursor: pointer;
	background:	#FFFFFF;
	width:250px;
	position: absolute;
	left:300px;
	bottom: 29px;
	right: 10px;
	border: 1px solid;
}


.chat_box{
	
	cursor: pointer;
	background:	#FFFFFF;
	width:250px;
	position: absolute;
	left:10px;
	bottom: 29px;
	right: 10px;
	border: 1px solid;
}

.chat_head, #add_friend_head{
	
	background:  #32CD32;
	color:#DCDCDC;
	padding: 10px;
	
}

.chat_body{
	
	height: 400px;
	overflow: auto;
	overflow-x:hidden;
}

.user{
	
	cursor: pointer;
	
}

.user:BEFORE {
	
}

.msg_box{
	
	background: #FFFFFF;
	width: 200px;
	right: 280px;
	bottom: 29px;
	
	
}

#msg_head{
	
	background:  #32CD32;
	color:#DCDCDC;
	padding: 10px;
}

.close{
	
	
	float: right;
	color: white;
	
	
}

.msg_body{
	
	height: 250px;
	font-family: monospace;
	overflow: auto;
	overflow-x:hidden;
}

.msg_from_A{
	
	background: yellow;
	margin-top: 5px;
	padding:10px;
	margin-left: 20px;
	border-radius:5px;
	
}

.msg_from_B{
	
	background: yellow;
	margin-top: 5px;
	padding:10px;
	margin-right: 20px;
	border-radius:5px;
}

.msg_footer{
	
	
}
.final_msg_footer{
	
	
}

.input_msg{
	
	 width: 100%; 
	 padding: 4px;
	 border: transparent;
	 border-top: 2px solid;
	 -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



.send{
	
	
	font:monospace;
	cursor: pointer;
	padding-bottom:5px;
	bottom: 25px;
	right: 280px;
	position:absolute;
	left: 150px;
}

.button:HOVER {
	color:#f00;
}